/* Color Scheme */
$primary: #C23053;
$secondary: #FEF9E7;
$trimColor: #EDDE4F;

$trimBorder: 2px solid $trimColor;

/* Fonts */
$h4Font: 'Open Sans', sans-serif;
$h2Font: 'Noto Sans', sans-serif;
$navFont: 'Nanum Gothic', sans-serif;

body{
    background-color: $secondary;
}

nav{
    padding: 0px !important;
    a img{
        padding-right: 0px;
    }
    .header-item {
        padding: 0px 20px;
    }
    .header-link {
        position: relative;
        font-family: $navFont;
        font-size: 1rem;
    }
    .header-link:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 100%;
        height: 1px;
        background-color: #D4B74A;
        transition: .3s;
        transform: scaleX(0);
        transform-origin: center center;
    }
    .header-link:hover:before {
        transform: scaleX(1);
    }
    .header-link:hover {
        transform: scale(1.2);
        transition: .5s;
        color: #D4B74A;
    }
}
