/* Color Scheme */
$primary: #C23053;
$secondary: #FEF9E7;
$trimColor: #EDDE4F;

$trimBorder: 2px solid $trimColor;

/* Fonts */
$h4Font: 'Open Sans', sans-serif;
$h2Font: 'Noto Sans', sans-serif;
$navFont: 'Nanum Gothic', sans-serif;

body{
    background-color: $secondary;
}

nav{
    padding: 0px !important;
    a img{
        padding-right: 0px;
    }
    .header-item {
        padding: 0px 20px;
    }
    .header-link {
        position: relative;
        font-family: $navFont;
        font-size: 1rem;
    }
}

.container {
	/*Default padding is 15px*/
	padding-left: 10px;
	padding-right: 10px;
}

/*Target all column classes*/
[class^="col-"] {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

@media (min-width: 576px) {
    .container{
        max-width: 767px;
    }
}

@media (min-width: 768px) {
    .container{
        max-width: 991px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 1199px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1350px;
    }
}