@import 'variables';


.navbar{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    background-color: $primary !important;
    .header-title{
        font-family: $navFont;
    }
    
}
.container{
    background-color: $primary;
    .about{
        padding: 20px;
        }
        .content{
            display: flex;
            padding: 20px;
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
            h2{
                text-align: center;
                font-family: $h4Font;
            }
            .about-tab{
                font-size: 1.2rem;
                font-style: italic;
                a{
                    color: #000;
                }
            }
            
            .about-tab-img{
                height: auto;
                width: 100%;
            }
            .tab-content{
                .tab-pane{
                    .director-title{
                        font-family: $h4Font;
                        font-size: 1.25rem;
                        font-weight: 700;
                    }
                    
                }
            }
            
        }
    }

    @media (min-width: 992px) {

    
        /*----------*/
        
        
        
        .header-link {
          position: relative;
        }
        
        .header-link:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 5px;
          width: 100%;
          height: 1px;
          background-color: #D4B74A;
          transition: .3s;
          transform: scaleX(0);
          transform-origin: center center;
        }
        
        .header-link:hover:before {
          transform: scaleX(1);
        }
        
        .header-link:hover {
          transform: scale(1.2);
          transition: .5s;
          color: #D4B74A;
        }
    }
    
    @media (max-width: 991px) {
        .collapse a{
            display: block;
            transition: .5s;
        }
    
        .collapse a:hover{
            transform: translateX(12px);
            background-color: $primary;
        }
        
    
    }

