@import 'variables';



.container{
    background-color: $primary;
    .about{
        
        padding: 20px;
        }
        .content{
            display: flex;
            padding: 20px;
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
            h2{
                text-align: center;
                font-family: $h4Font;
            }
            .about-tab{
                font-size: 1.2rem;
                font-style: italic;
                a{
                    color: #000;
                }
            }
            .about-tab-img{
                height: auto;
                width: 100%;
            }
            .tab-content{
                .tab-pane{
                    .director-title{
                        font-family: $h4Font;
                        font-size: 1.25rem;
                        font-weight: 700;
                    }
                    
                }
            }
            
        }
    }





