@import 'variables.scss';

.navbar{
    background-color: $navColor !important;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    .header-title{
        font-family: $navFont;
    }
}

.container{
    padding: 0px;
    background-color: $secondary;
    .contact-info{
        padding: 30px;
        background-image: url("images/contact-bg.jpg");
        background-size: cover;
        .content{
            .numbers i{
                color: $trimColor;
            }
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
            .header{
                font-family: $h4Font;
                text-align: center;
                color: $trimColor;
            }
        }
    }
}


@media (min-width: 992px) {

    
    /*----------*/
    
    
    
    .header-link {
      position: relative;
    }
    
    .header-link:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 1px;
      background-color: $primary;
      transition: .3s;
      transform: scaleX(0);
      transform-origin: center center;
    }
    
    .header-link:hover:before {
      transform: scaleX(1);
    }
    
    .header-link:hover {
      transform: scale(1.2);
      transition: .5s;
      color: #D4B74A;
    }
}

@media (max-width: 991px) {
    .collapse a{
        display: block;
        transition: .5s;
    }

    .collapse a:hover{
        transform: translateX(12px);
    }
    

}

@media (max-width: 768px) {
    .info{
        border-bottom: 1px solid #dee2e6 !important;
        .numbers{
            border: none !important;
        }
    }
}



